<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
        <title>Admin - User</title>
    
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="/css/admin.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add User</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th style="width: 15%">Password</th>
                                <th style="width: 10%">Action</th>
                                <th>Show name</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody id="UsersList">
    
                                <tr>
                                    <td>
                                        <input type="text" name="name" id="userName">
                                    </td>
                                    <td>
                                        <input type="password" name="pass" id="userPass">
                                    </td>
                                    <td>
                                        <input type="file" accept="image/*" name="" id="userImage" value="">
                                    </td>
                                    <td>
                                        <input type="text" name="showName" id="userShowName">
                                    </td>
    
                                    <td>
                                        <button class="btn btn-primary fa-2x"
                                            onclick="createNewUser()">SAVE</button>
                                    </td>
                                </tr>
    
                        </tbody>
                    </table>
    
                </div>
    
    
    
            </div>
        </div>  

    <script>
        function createNewUser() {
            var userName = $("#userName").val()
            var userPass = $("#userPass").val()
            var userImage = $('#userImage').val().split('\\').pop();
            var userShowName = $("#userShowName").val()
            alert(userImage)

            $.post('createNewUser', {
                userName: userName,
                userPass: userPass,
                userImage: userImage,
                userShowName: userShowName,
            }, (data, status) => {
                alert('Tạo thành công!')
                if (data == 'Tài khoản đã tồn tại!') adminResetRegisInputBox()
                else if (data == 'Tài khoản không hợp lệ!') adminResetRegisInputBox()
                window.location.reload()

            })
        }
        function adminResetRegisInputBox() {
            document.getElementById('userName').value = ''
            document.getElementById('userPass').value = ''
            document.getElementById('userShowName').value = ''

        }
    </script>
</body>

</html>