<!doctype html>
<html lang="en">

<head>
	<title>Thay đổi tên tài khoản</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href='css/login.css'>
	<link rel="icon" href="/images/favicon-32x32.png">
	<script src="/js/function.js"></script>
</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" style="font-weight: bold;">ĐỔI TÊN HIỂN THỊ</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="d-md-flex">
						<div class="login-wrap p-4 p-lg-5"
							style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
							<div class="d-flex">
							</div>
							<div class="form-group mb-3">
								<label class="label" for="name">Tên mới</label>
								<input id="username" type="text" class="form-control" placeholder="Tên mới" required>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3"
									onclick="changeUserShownName()">Lưu</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		function changeUserShownName() {
			var currentUser = JSON.parse(localStorage.getItem("user"))[0]
			var userName = $("#username").val()
			var newTab = window.open(`http://localhost:3000/personal/${currentUser.name}`);
			$.post('../changeUserShownName', {
				currentUserID: currentUser._id,
				userName: userName
			}, (data, status) => {
				alert(JSON.stringify(data))
				localStorage.setItem("user", JSON.stringify(data));
				console.log(localStorage.getItem("user"));
				window.close()
				newTab.document.location.reload(true);

			})
		}
		$(document).ready(function () {
			var user = localStorage.getItem('user')

		})

	</script>
</body>

</html>