<!doctype html>
<html lang="en">

<head>
	<title>Thay đổi mật khẩu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href='css/login.css'>
	<link rel="icon" href="/images/favicon-32x32.png">
	<script src="/js/function.js"></script>
</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section" style="font-weight: bold;">ĐỔI MẬT KHẨU</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="d-md-flex">
						<div class="login-wrap p-4 p-lg-5"
							style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
							<div class="d-flex">
								<div class="w-100">
									<h3 class="mb-4">Xin chào User!</h3>
								</div>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="name">Mật khẩu cũ</label>
								<input id="password1" type="password" class="form-control" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="name">Mật khẩu mới</label>
								<input id="newPassword1" type="password" class="form-control" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="name">Nhập lại mật khẩu</label>
								<input id="newPassword2" type="password" class="form-control" required>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3"
									onclick="changeUserPassword()">Thay
									đổi</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		function changeUserPassword() {
			var currentUser = JSON.parse(localStorage.getItem("user"))[0]
			var password1 = $("#password1").val()
			var newPassword1 = $("#newPassword1").val()
			var newPassword2 = $("#newPassword2").val()
			$.post('../changeUserPassword', {
				currentUserID: currentUser._id,
				password1: password1,
				newPassword1: newPassword1,
				newPassword2: newPassword2
			}, (data, status) => {
				alert(data)

				if (data == 'mat khau hien tai khong dung') {
					resetRegisInputBox()
				}
				else if (data == 'thay doi thanh cong') { this.close() }

			})
		}
		function resetRegisInputBox() {
			document.getElementById('password1').value = ''
			document.getElementById('newPassword1').value = ''
			document.getElementById('newPassword2').value = ''

		}
		$(document).ready(function () {
			var user = localStorage.getItem('user')

		})

	</script>
</body>

</html>