
.player-controls.clickable {
    cursor: pointer;
}
.player-controls {
    position: fixed;
    z-index: 2;
    width: 100%;
	right: 0;
    bottom: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #170f23;
}

.player-controls__container {
    height: 90px;
    min-width: 768px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ffffff1e;
}
.level {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}


.level .level-left, .level .level-right {
    display: flex;
}
.player-controls-left {
    position: relative;
    width: 30%;
    z-index: 1;
}
.level-left {
    align-items: center;
    justify-content: flex-start;
}
.level-left, .level-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}

.player-controls-left .media {
    padding: 0;
    transition: transform .5s;
    cursor: auto;
}
.media {
    align-items: center;
    display: flex;
	flex: 2 1 auto;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.level-item .media{
	margin: 0;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
.media-left, .media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.media-left {
    margin-left: 10px;
}

.player-controls-left .media-left .thumb-overlay {
    position: relative;
	width: 64px;
	height: 64px;
	background-color: transparent;
	
}


.player-controls-left .media-left .thumb-overlay .thumb .image {
    width: 64px;
    height: 64px;
    border: 2px solid rgba(160, 160, 160, 0.678);
}
.is-rounded {
    overflow: hidden;
    border-radius: 999px!important;
}
.is-50x50 {
    width: 64px;
    height: 64px;
	-webkit-animation:logo 6s linear infinite;
	animation:logo 6s linear infinite; 
}
@keyframes logo{
	0%{transform:rotate(-360deg)};
	10%{transform:rotate(0deg)};
}

#songicon1, #songicon2{
    z-index: 1;
    bottom: -22px;
    left: -5px;
    position: fixed;
    width: 130px;
    display: none;
}
#songicon1{
    -webkit-animation:songicon1 8s linear infinite;
	animation:songicon1 8s linear infinite; 
}
#songicon2{
    -webkit-animation:songicon2 8s linear infinite;
	animation:songicon2 8s linear infinite; 
}


@keyframes songicon1{
	0%{
        transform:rotate(0deg);
        opacity: 1;
    }
	50%{
        transform:rotate(180);
        opacity: 0;
    }
    100%{
        transform:rotate(360deg);
        opacity: 1;
    }
}
@keyframes songicon2{
	0%{
        transform:rotate(0deg);
        opacity: 0;
    }
	50%{
        transform:rotate(180);
        opacity: 1;
    }
    100%{
        transform:rotate(360deg);
        opacity: 0;
    }
}


.level-item .media .media-left{
	display: flex;
	justify-content: center;
}

.level-item .media .media-left .title-wrapper{
	font-size: 1.4em;
}
.level-item .media .media-left .subtitle{
	font-size: 1.1em;
}

.player-controls{
    -webkit-animation:player 1s ease-in-out;
	animation:player 1s ease-in-out; 
}

@keyframes player{
    from{
        bottom: -90px;
    }
    to{
        bottom: 0px;
    }
}

.player-controls__player-bar {
    flex-grow: 1;
    max-width: 40vw;
}

.level .level-item:not(.is-narrow) {
    flex-grow: 1;
}
.level .level-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0;
}
.level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
}

.player-controls__player-bar .actions {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
	width: 200px;
	text-align: center;
    align-items: center;
	font-size: 1.2em;
}

.level-item .time-left, .time-right{
    width: 50px;
    color: #fff
}

.player-controls__player-bar .time.right {
    margin-left: 10px;
}
.player-controls__player-bar .time {
    min-width: 45px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}


.level-item .fa-step-backward,.actions .fa-play-circle, .fa-step-forward, .fa-random, .fa-retweet{
    opacity: 1;
    transition: 0.2s;
}

.level-item .fa-step-backward:hover,.actions .fa-play-circle:hover, .fa-step-forward:hover, .fa-random:hover, .fa-retweet:hover{
    opacity: 0.7;
    transition: 0.2s;
}



.player-controls__player-bar .zm-duration-bar {
    height: 3px;
    width: 100%;
    color: #670388;
    transition: 0.3s ease-in-out;
    
}
.player-controls__player-bar .zm-duration-bar:hover{
    height: 10px;
    transition: 0.3s ease-in-out;
}

.player-controls__player-bar .zm-duration-bar .zm-slider-bar {
    width: 100%;
    height: 3px;
}
.level .level-right {
    display: flex;
}

.player-controls-right {
    width: 30%;
}
.level-right {
    align-items: center;
    justify-content: flex-end;
}
.volume-control{
    display: flex;
    justify-content: center;
    width: 30%;
}
.player-controls-right{
    text-align: right;
}
.fa-youtube{
    font-size: 1.2em;
    
}
.fa-youtube:hover{
    opacity: 0.8;
}

.background-mv{
    position: fixed;
    display: none;
    width: 100%;
    background-color: #670388;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
    -webkit-animation:mvlayer 3s ease-in-out;
	animation:mvlayer 3s ease-in-out; 
}

.layer-mv{
    position: absolute;
    display: fixed;
    filter: blur(50px);
    top: 0;
    z-index: -1;
    background-color: #670388;
    opacity: 0.6;
}
.layer-header-top{
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    opacity: 1;
}
.header-top{
    width: 220px;
}
.toggle-layer, .layer-control{
    position: fixed;
    align-self: center;
    top: 0;
    height: 100px;
}
.layer-control{
    position: fixed;
    display: flex;
    width: 100%;
    text-align: right;
    right: 0;
    top: 10px;
}
.circle-icon{
    font-size: 1.2em;
    margin-right: 0;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.062);
    text-align: right;
    border-radius: 100%;
    padding: 16px;
    cursor: pointer;
    margin-left: 10px;

}

.layer-middle{
    position: relative;
    width:  1280px;
    height: 720px;
    margin: auto;
    top: 40px;
}
.layer-middle iframe{
    border-radius: 10px;
    width: 1280px;
    height: 720px;
}
.fav-music{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fav-music #fav-no, #fav-yes{
    font-size: 1.3em;
    transition: 0.2s;
    width: 30px;
}
.fav-music #fav-no:hover, #fav-yes:hover{
    font-size: 1.3em;
    opacity: 0.8;
}

